.ez-led {
    font-size: 40px;
    background: #70d355;
    width: 300px;
    height: 60px;
    line-height: 60px;
    text-align: right;
    padding: 10px;
}

.ez-lamp {
    display: inline-block;
    margin: 5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.ez-lamp.on {
    opacity: 1;
    background: -webkit-radial-gradient(30% 30%, white 5%, red 95%);
}

.ez-lamp.off {
    opacity: 0.5;
    background: -webkit-radial-gradient(30% 30%, #888 5%, red 95%);
}

.ez-digi-clock {
    font-family: LED;
    font-size: 40px;
    background: #70d355;
    width: 300px;
    height: 60px;
    line-height: 60px;
    text-align: right;
    padding: 10px;
    letter-spacing: 5px;
}

.ez-weather {
    background: black;
    color: white;
    padding: 10px;
}

.ez-search {
    display: flex;
    flex-flow: row nowrap;
}

.ez-search input {
    flex: 1 0 auto;
}

.ez-search button {
    width: 100px;
    margin: 0px 10px;
}

.ez-login {
    background: #f1f2ff;
    padding: 10px;
}

.ez-login .row.title {
    margin-bottom: 10px;
    background: #ff9244;
    color: white;
    border-radius: 5px;
}

.ez-login .row h1 {
    padding: 0px;
    font-size: 16px;
    margin: 5px;
    text-align: center;
    flex: 1 0 auto;
}

.ez-login .row {
    display: flex;
    flex-flow: row nowrap;
    padding: 5px 0px;
    height: 30px;
}

.ez-login .row label {
    display: inline-block;
    width: 80px;
}

.ez-login .row span,
.ez-login .row input {
    flex: 1 0 auto;
}

.ez-login .row input[type="checkbox"] {
    margin-left: 80px;
    flex: none;
}

.ez-login button {
    display: block;
    width: 100%;
    height: 30px;
    margin: 5px 0px;
}

.ez-panel {
    background: #f0f0f0;
    min-height: 280px;
    padding: 5px;
}

.ez-panel .header {
    background: #8187c3;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
}

.ez-panel .content {
    padding: 5px;
}

.hz-indent {
    text-indent: 2em;
}
.ez-slider{
    position:relative;
    display:inline-block;
}
.ez-slider img.knob{
    position:absolute;
}

.ez-gauge{
    position:relative;
    display:inline-block;
}
.ez-gauge .pointer{
    position : absolute;
    left : 149px;
    top : 104px;
    transform-origin : 1px 45px;
    transition : transform 2s;
}
.ez-thermometer{
    position:relative;
}
.ez-thermometer .bubble{
    position:absolute;
    width:40px;
    height:40px;
    border-radius:50%;
}
.ez-thermometer .bar{
    position:absolute;
    width:10px;
    left:80px;
    transition:top 0.5s;
}

/*log */
.ez-logger{
    position:fixed;
    left:0px;
    bottom:0px;
    height:100px;
    width:100%;
    background:#000;
    color:#fff;
}